db_data/
logs/
servicediscovery/
redis_data/
docker-templates/
*.yml
*.log
*.pyc
events/
*.tar
*.gz
db_data_bu/
config/

rcongui/dist/
rcongui/node_modules/

rcongui_public/dist/
rcongui_public/node_modules/
