version: '2.4'

services:
    python:
        image: maresh/hll_rcon:latest
        environment:
            HLL_HOST: ${HLL_HOST}
            HLL_PORT: ${HLL_PORT}
            HLL_PASSWORD: ${HLL_PASSWORD}
            LOGGING_LEVEL: 'INFO'
            LOGGING_PATH: /logs/
            REDIS_URL: redis://redis:6379/0
            DB_URL: 'postgres://rcon:${HLL_DB_PASSWORD}@postgres:5432'
            DISCORD_WEBHOOK_AUDIT_LOG: ${DISCORD_WEBHOOK_AUDIT_LOG}
            RCONWEB_API_SECRET: ${RCONWEB_API_SECRET}
            SERVER_SHORT_NAME: ${SERVER_SHORT_NAME}
            DISCORD_CHAT_WEBHOOK: ${DISCORD_CHAT_WEBHOOK}
            DISCORD_CHAT_WEBHOOK_ALLOW_MENTIONS: ${DISCORD_CHAT_WEBHOOK_ALLOW_MENTIONS}
            RCONWEB_PORT: ${RCONWEB_PORT}
            DISCORD_PING_TRIGGER_WORDS: ${DISCORD_PING_TRIGGER_WORDS}
            DISCORD_PING_TRIGGER_ROLES: ${DISCORD_PING_TRIGGER_ROLES}
            DISCORD_PING_TRIGGER_WEBHOOK: ${DISCORD_PING_TRIGGER_WEBHOOK}
            DISCORD_KILLS_WEBHOOK: ${DISCORD_KILLS_WEBHOOK}
            DISCORD_SEND_KILL_UPDATES: ${DISCORD_SEND_KILL_UPDATES}
            DISCORD_SEND_TEAM_KILL_UPDATES: ${DISCORD_SEND_TEAM_KILL_UPDATES}
            VOTE_MAP_INSTRUCTIONS: ${VOTE_MAP_INSTRUCTIONS}
            STEAM_API_KEY: ${STEAM_API_KEY}
            BAN_ON_VAC_HISTORY_DAYS: ${BAN_ON_VAC_HISTORY_DAYS}
            BAN_ON_VAC_HISTORY_REASON: ${BAN_ON_VAC_HISTORY_REASON}
            MAX_GAME_BAN_THRESHOLD: ${MAX_GAME_BAN_THRESHOLD}
            SUPERVISOR_RPC_URL: http://supervisor:9001/RPC2
            SERVER_NUMBER: 1
        restart: always
        volumes: 
            - ./logs:/logs/
            - ./servicediscovery:/servicediscovery
            - ./static:/static/
