version: '2.4'

services:
  supervisor_1:
    build: .
    environment:
      LOGGING_LEVEL: 'DEBUG'
  backend_1:
    environment:
      LOGGING_LEVEL: 'DEBUG'
    build: .
  debug_1:
    environment:
      LOGGING_LEVEL: 'DEBUG'
    build: .
    ports:
      - 8000:8000
    command: debug
    networks:
      - common
  frontend_1:
    build:
      context: .
      dockerfile: Dockerfile-frontend
  redis:
    ports: 
      - 127.0.0.1:${HLL_REDIS_HOST_PORT:-6379}:6379
  postgres:
    ports:
      - ${HLL_DB_HOST_PORT:-5432}:5432