version: "2.4"

services:
  python:
    image: ${BACKEND_DOCKER_REPOSITORY}:${TAGGED_VERSION}
    environment:
      HLL_HOST: ${HLL_HOST}
      HLL_PORT: ${HLL_PORT}
      HLL_PASSWORD: ${HLL_PASSWORD}
      LOGGING_LEVEL: "INFO"
      LOGGING_PATH: /logs/
      HLL_REDIS_HOST: ${HLL_REDIS_HOST}
      HLL_REDIS_PORT: ${HLL_REDIS_HOST_PORT}
      HLL_REDIS_DB: 0
      HLL_REDIS_URL: redis://${HLL_REDIS_HOST}:${HLL_REDIS_HOST_PORT}/0
      HLL_DB_USER: ${HLL_DB_USER}
      HLL_DB_PASSWORD: ${HLL_DB_PASSWORD}
      HLL_DB_NAME: ${HLL_DB_NAME}
      HLL_DB_HOST: ${HLL_DB_HOST}
      HLL_DB_HOST_PORT: ${HLL_DB_HOST_PORT}
      HLL_DB_URL: postgres://${HLL_DB_USER}:${HLL_DB_PASSWORD}@${HLL_DB_HOST}:${HLL_DB_HOST_PORT}/${HLL_DB_NAME}
      RCONWEB_API_SECRET: ${RCONWEB_API_SECRET}
      RCONWEB_PORT: ${RCONWEB_PORT}
      SUPERVISOR_RPC_URL: http://supervisor:9001/RPC2
      SERVER_NUMBER: 1
      NB_API_WORKERS: ${NB_API_WORKERS}
      NB_API_THREADS: ${NB_API_THREADS}
      CONFIG_DIR: /config/
      RCONWEB_EXTERNAL_ADDRESS: ${RCONWEB_EXTERNAL_ADDRESS}
      PUBLIC_STATS_PORT: ${PUBLIC_STATS_PORT}
      PUBLIC_STATS_PORT_HTTPS: ${PUBLIC_STATS_PORT_HTTPS}
      GTX_SERVER_NAME_CHANGE_USERNAME: ${GTX_SERVER_NAME_CHANGE_USERNAME}
      GTX_SERVER_NAME_CHANGE_PASSWORD: ${GTX_SERVER_NAME_CHANGE_PASSWORD}
    restart: always
    volumes:
      - ./logs:/logs/
      - ./servicediscovery:/servicediscovery
      - ./static:/static/
      - ./config:/config/
