Click==8.3.3
Django==4.2.30
django-cors-headers==4.9.0
redis==7.4.0
sqlalchemy==2.0.49
channels==4.3.2
channels-redis==4.3.0
orjson==3.11.8
simplejson==4.1.1
psycopg2-binary
sentry-sdk[django]==2.58.0
python-dateutil==2.9.0.post0
# discord-webhook[async]
git+https://github.com/cemathey/python-discord-webhook@89ae25140b30a6747de70e5bf16bc5ba04a9b238
requests==2.33.1
steam==1.4.4
# Alembic does not use semantic versioning, so be careful with the version numbers https://alembic.sqlalchemy.org/en/latest/front.html#versioning-scheme
alembic==1.18.4
rq==2.8.0
rq-scheduler==0.14.0
paramiko==4.0.0
ftpretty==0.4.0
pytz>=2023.3
pydantic==2.13.3
discord.py==2.7.1
pre-commit
humanize==4.15.0
httpx==0.28.1
psutil==7.2.2
hllrcon>=1.2.0.1
