Click==8.1.7
Django==4.2.7
django-cors-headers==4.3.1
redis==5.0.1
sqlalchemy==2.0.23
simplejson==3.19.2
psycopg2-binary
sentry-sdk[django]==1.38.0
python-dateutil==2.8.2
git+https://github.com/cemathey/python-discord-webhook.git@4d79ab09526b96a2cc86c50ca1c609d7b644c6c7
requests==2.31.0
steam==1.4.4
# Alembic does not use semantic versioning, so be careful with the version numbers https://alembic.sqlalchemy.org/en/latest/front.html#versioning-scheme
alembic==1.12.1
# rq-scheduler doesn't work with rq > 1.13.0 right now because of a deprecated `ColorizingStreamHandler` import
rq==1.15.1
rq-scheduler==0.13.1
paramiko==3.3.1
ftpretty==0.4.0
pytz>=2023.3
pandas>=1.4.1,<2.0.0
pydantic==2.5.2
discord.py==2.3.2
# django-directory
# django-dirctory is currently incompatible with Django 4.0+, PR is pending to fix django-directory upstream
git+https://github.com/cemathey/django-directory@f51ee1e8dc50edf453fee4a0d9631c0e46fe9433
pre-commit
