# Don't forget to add an empty line at the end of this file or it won't start
5 * * * * /usr/sbin/logrotate /config/logrotate.conf
# Example Backup VIPs once per day at 23h
* 23 * * * /code/manage.py get_vip_ids > /logs/vips_$(date).txt 
