######################################################################################
######################################################################################
######################################################################################
######################################################################################
######################################################################################
# DO NOT change or delete this file
# Instead, to define your own config, copy it and rename it: "config.yml"
# Your own config will override the defaults
######################################################################################
######################################################################################
######################################################################################
######################################################################################

# If you set this to true your public website for stats won't work anymore
# This will request a login for all the stats endpoints
# To lock set to: true
LOCK_STATS_API: false

# Multi server related config, you can safe ignore those if you only have 1 server
MULTI_SERVERS:
  # This option when turned on will forward your temp ban to all your servers
  # When it is off the temp ban is only applied on the serveur where the command was received
  broadcast_temp_bans: yes
  # This option when turn on will forward the unban to all your servers
  # When is off unbanning a player will only apply on the serveur where the command was received
  broadcast_unbans: yes

# Config related to bans
BANS:
  # By setting this to yes, if you unban a player (temp or perma) it will also remove his blacklist (if any)
  unban_does_unblacklist: yes
  # Same as above but the other way around, remove a player from the blacklist will unban him
  unblacklist_does_unban: yes

# You can test your regex there: https://regex101.com/ set it to "Python"
NAME_KICKS: 
  regexps: []
  reason: "Your nickname is invalid"
  # If left unset, the webhook default to your audit log webhook
  discord_webhook_url: ""
  whitelist_flags: 
    - ✅

BAN_TK_ON_CONNECT:
  enabled: no
  message: "Your first action on the server was a TEAM KILL you were banned as a result"
  author_name: "HATERS GONNA HATE"
  # Exlude TK with certain weapons from triggering the ban, adding "None" by default so it will exclude arty, tanks and road accidents
  # The weapon name should be as found in your game logs (case insensitive), know weapons at the time of writing: 'SMine M2 Kar98_Sniper M43 M1911 MK2_Grenade Satchel_M37 None P38 M24_Grenade M1A1 MP40 Kar98 STG44 Thompson MG42 Garand Tellermine43 Luger Satchel_3KG Panzershreck M1918A2_BAR M1919 G43 M1903 SMG_M3_GreaseGun M1_Carbine Bazooka'
  # To not exclude any weapons write exclude_weapons: [] 
  exclude_weapons: 
    - None
    - MK2_Grenade
    - M24_Grenade
  # TK after connect only counts as an offense for the first N minute after connecting, N is the number you set below
  max_time_after_connect_minutes: 5
  # A TK after connecting will be ignored if there's <N> kills before it
  ignore_tk_after_n_kills: 1
  # A TK after connecting will be ignored if there's <N> death before it
  ignore_tk_after_n_death: 2

  # If any of the conditions below are true the player won't be inspected upon TK
  whitelist_players:
    has_flag:
      - ✅
    is_vip: yes
    # Set to 0 for infinite
    has_at_least_n_sessions: 10
  # The maximum amount of TK tolerated after connecting, TK get counted if it wasn't excluded by any of the parameters above
  teamkill_tolerance_count: 1
  # If left unset, the webhook default to your audit log webhook
  discord_webhook_url: ""
  discord_webhook_message: "{player} banned for TK right after connecting"

LIVE_STATS:
  # A stats refresh is quite intensive on CPU, DISK and BANDWIDTH
  # smaller machines should choose at the very least 30 seconds, if not 60 to 120
  # The below is to compute live stats based on session (from the last connection) accross all games
  refresh_stats_seconds: 15
  # The below is to compute live stats for the current game and starts at the begining of the game, even if the 
  # player disconnect and reconnected multiple times, all his/her stats are counted
  refresh_current_game_stats_seconds: 5

# The below is not effective yet. 
# Here you can set your custom urls (if you have any)
# Make sure you set them in the same order as your server numbers
# Leave empty if you don't have any custom urls / domains, the default will be used
SERVER_URLS: []
# Example with custom urls:
# SERVER_URLS:
#   - http://server1.mydomain.com/
#   - http://server2.mydomain.com/
#   - http://server3.mydomain.com/

# The below is relevant only if your game server is hosted at GTX
# Filling those values will allow you to change your server name directly from the RCON
# The name change is visible in HLL after a map change, no need to restart the server
# You must fill you sftp information as well as credentials that have the right to access the sftp
# Don't forget to put your IP in quote, e.g: "42.42.42.42"
GTX:
  server_1:
    ip: "42.42.42.42"
    port: 42
    username: null
    password: null
  server_2:
    ip: null
    port: null
    username: null
    password: null
  server_3:
    ip: null
    port: null
    username: null
    password: null


NOLEADER_AUTO_MOD:
  # This auto-moderator has 4 steps, 1. internally noting (X times), 2. warning via direct message (Y times), 3. punish (Z times) 4. kick
  # Note that the state cycle for a given squad only resets once it finally has an officer. So for example if you
  # disabled the kick and have 3 punishes configured, once the 3 punishes are 
  # through that's it, nothing will happen anymore for that squad even if they still don't have an officer.
  # 
  # Note 2: notes, warnings, punishes and kicks are tracked individual per player, not at the squad level.
  # So if a player joins a squad that already received 3 punishes and will be kicked next, the new player will 
  # start at the first punish regardless (so he won't be kick)
  # Set to true to enable the auto moderation of squads without officers
  enabled: false
  # If this is set to true no warning / punish / kick will be applied for real 
  # It turns the code into a "simulation" mode and only send what it would do to your discord audit log webhook
  dry_run: true
  # Discord Webhook URL where audit logs should be sent. If not specified, the environment variable DISCORD_WEBHOOK_AUDIT_LOG
  # will be used, instead.
  discord_webhook_url: ''

  # Step number 1
  # If a squad has no officer all members are noted internally but no action is taken
  # Since we sometimes receive wrong data from the game server we note those players
  # and see if these squads still don't have an officer the next time we check
  # set to 0 to disable (this means it will move to warn directly)
  # set to 1 to X to note the squad X times before we move to the warn step (we recommend 1)
  number_of_notes: 1
  # This is the number of seconds this auto-mod will wait until moving to
  # the next note or to warnings if the number_of_notes is reached
  notes_interval_seconds: 10

  # Deprecated: This option is deprecated and will be removed in a future release.
  # Temporary message used as a warning text for player names that will lead to false-positives in auto-moderation,
  # because of a game-server bug.
  # See https://github.com/MarechJ/hll_rcon_tool/issues/117 for more details.
  whitespace_names_message: Your name contains a whitespace at the end (because it is truncated as it is too long). Because of a bug in the game, you might suffer auto-moderation actions as a false-positive. Please change your name and restart your game to avoid this.

  # Step number 2
  # Send a direct warning message to the squads that don't have an officer
  # set to 0 to disable (this means it will move to punish directly), -1 for infinite warnings (will never go to punishes)
  # set to 1 or Y to warn squad Y times before we move on to the punish step
  number_of_warning: 2
  # This is the text that will be displayed to warn players.
  # The following variables are available to fill into the text
  #  {player_name}, {squad_name}, {received_warnings}, {max_warnings} and {next_check_seconds}
  warning_message: "Warning, {player_name}! Your squad ({squad_name}) does not have an officer. Players of squads without an officer will be punished after {max_warnings} warnings (you already received {received_warnings}), then kicked.\nNext check will happen automatically in {next_check_seconds}s."
  # This is the number of seconds this auto-mod will wait until moving to
  # the next warning or to the punish if the number_of_warning's is reached
  warning_interval_seconds: 60

  # Step number 3
  # If the squad still doesn't have an officer after 
  # the N warnings and the last warning_interval_seconds has elapsed, automod starts punishing
  # Set to 0 to disable to punish entirely. I would advise setting warnings to infinity (-1) if you do that
  # Set to -1 for infinite punish (will never go to kicks)
  # Set to 1 or Z to apply Z punishes before we move to the next step (the kicks)
  number_of_punish: 2
  # This is the number of seconds to wait between punishes (if the squad remains without an officer
  # I wouldn't recommend setting a high value here (unless you chose infinite punishes) as once the player has died he has the opportunity to take
  # the officer role, so no excuse. Also it's even more frustrating to respawn run 300m and die again ;)
  punish_interval_seconds: 60
  # This value will disable the punishes until the squad has at least the number of player set below
  # So if you set min_squad_players_for_punish: 3 a squad of 2 will be immune to punishes (and kicks)
  min_squad_players_for_punish: 3
  # This option is the same as above but for the entire server. If the server has less players
  # than the number you set below, not punish / kicks will be applied
  disable_punish_below_server_player_count: 40
  # This is the message that will be set in the punish
  # The following variables are available to fill into the text
  #  {player_name}, {squad_name}, {received_punishes}, {max_punishes} and {next_check_seconds}
  punish_message: "Your squad ({squad_name}) must have an officer.\nYou're being punished by a bot ({received_punishes}/{max_punishes}).\nNext check in {next_check_seconds} seconds"

  # Step number 4
  # Set the below value to false if you don't want to kick players after they reached the max amount of punishes
  # note that if you disabled punish it will never go to that step. no matter if it's set to true
  kick_after_max_punish: true
  # Same behavior as for the punishes, if the squad has less players than the below it won't kick
  min_squad_players_for_kick: 7
  # Same behavior as for the punishes, if the server has less players than the number below the auto-moderator will wait and not kick yet
  disable_kick_below_server_player_count: 60
  # After the Step 2 has reached it's max punishes, this is the amount of time in seconds the auto-mod will wait before kicking
  kick_grace_period_seconds: 120
  # This is the message that will be set in the kick
  # The following variables are available to fill into the text
  #  {player_name}, {squad_name} and {kick_grace_period}
  kick_message: "Your Squad ({squad_name}) must have an officer.\nYour grace period of {kick_grace_period}s has passed.\nYou failed to comply with the previous warnings."
  
  # GLOBAL OPTIONS
  # You can define roles that are immune to punishes and kicks (this must be a list, the syntax is important)
  # Available roles are: 'officer', 'antitank', 'automaticrifleman', 'assault', 'heavymachinegunner', 'support', 'sniper', 'spotter', 'rifleman', 'crewman', 'tankcommander', 'engineer', 'medic'
  immuned_roles: 
    - support
    - sniper
  # If the level of the player is below this number he/she will is immune to punishes / kicks
  immuned_level_up_to: 15


# Set your custom text or transalation for each of the below keys. Logo urls and prefered stats and such
# If you have more that 3 server copy the whole SERVER_1 section 
SCOREBOT:
  SERVER_1:
    # Don't forget to replace with your IP:port or url, leave the /api/get_live_game_stats 
    STATS_URL: "https://<rcon IP or url>/api/get_live_game_stats"
    # Don't forget to replace with your IP:port or url, leave the /api/public_info
    INFO_URL: "https://<rcon IP or url>/api/public_info"
    # This is the public url
    SCOREBOARD_PUBLIC_URL: "https://stats1.hllfrance.org/"
    # The last slash matters
    SCORBOARD_BASE_PATH: "https://stats1.hllfrance.org/"
    # This is the public url
    PAST_GAMES_URL: "https://stats1.hllfrance.org/#/gamescoreboard"
    WEBHOOK_URL: "https://discord.com/api/webhooks/86....40/qlh....Ie3"
  
  SERVER_2:
    STATS_URL: "https://<rcon IP or url>/api/get_live_game_stats"
    INFO_URL: "https://<rcon IP or url>/api/public_info"
    # This is the public url
    SCOREBOARD_PUBLIC_URL: "https://stats2.hllfrance.org/"
    # The last slash matters
    SCORBOARD_BASE_PATH: "https://stats2.hllfrance.org/"
    # This is the public url
    PAST_GAMES_URL: "https://stats2.hllfrance.org/#/gamescoreboard"
    WEBHOOK_URL: "https://discord.com/api/webhooks/86....40/qlh....Ie3"

  SERVER_3:
    STATS_URL: "https://<rcon IP or url>/api/get_live_game_stats"
    INFO_URL: "https://<rcon IP or url>/api/public_info"
    # This is the public url
    SCOREBOARD_PUBLIC_URL: "https://stats2.hllfrance.org/"
    # The last slash matters
    SCORBOARD_BASE_PATH: "https://stats2.hllfrance.org/"
    # This is the public url
    PAST_GAMES_URL: "https://stats2.hllfrance.org/#/gamescoreboard"
    WEBHOOK_URL: "https://discord.com/api/webhooks/86....40/qlh....Ie3"


  COMMON:
    ALL_STATS_TEXT: "All stats on: "
    AUTHOR_NAME: "STATS LIVE HLL FRANCE - click here"
    AUTHOR_ICON_URL: "https://static.wixstatic.com/media/da3421_111b24ae66f64f73aa94efeb80b08f58~mv2.png/v1/fit/w_2500,h_1330,al_c/da3421_111b24ae66f64f73aa94efeb80b08f58~mv2.png"
    ELAPSED_TIME: "Game time: "
    # The number of top players to display from 1 to 100
    TOP_LIMIT: 10
    FOOTER_ICON_URL: "https://static.wixstatic.com/media/da3421_111b24ae66f64f73aa94efeb80b08f58~mv2.png/v1/fit/w_2500,h_1330,al_c/da3421_111b24ae66f64f73aa94efeb80b08f58~mv2.png"
    NO_STATS_AVAILABLE: "No stats recorded for that game yet"
    FIND_PAST_STATS: "Stats of past games on: "
    NEXT_MAP_TEXT: "Next map"
    VOTE: "vote(s)"
    PLAYERS: "players"
    ELAPSED_TIME: "Elapsed game time: "

    # Discord markup is supported, you can add emoji too, TOP_KILLERS as an example of custom emoji. Do \<the emoji> on your discord to get that id
    TOP_KILLERS: "<:HLLBomb:868256234439073802> TOP KILLERS\n*kills* <:HLLBomb:868256234439073802>"
    TOP_RATIO: "TOP RATIO\n*kills/death*"
    TOP_PERFORMANCE: "TOP PERFORMANCE\n*kills/minute*"
    TRY_HARDERS: "TRY HARDERS\n*deaths/minute*"
    TOP_STAMINA: "TOP STAMINA\n*deaths*"
    TOP_KILL_STREAK: "TOP KILL STREAK\n*kill streak*"
    MOST_PATIENT: "MOST PATIENT\n*death by teamkill*"
    I_NEVER_GIVE_UP: "I NEVER GIVE UP\n*death streak*"
    I_M_CLUMSY: "YES I'M CLUMSY\n*teamkills*"
    I_NEED_GLASSES: "I NEED GLASSES\n*teamkill streak*"
    I_LOVE_VOTING: "I ❤ VOTING\n*num. votes started*"
    WHAT_IS_A_BREAK: "WHAT IS A BREAK?\n*ingame time*"
    SURVIVORS: "SURVIVORS\n*longest life (min.)*"
    U_R_STILL_A_MAN: "U'R STILL A MAN\n*shortest life (min.)*"

    # The stats items you an to display. I recommend you comment the line you don't want by adding a # at the beginning (before the -)
    STATS_TO_DISPLAY:
      - TOP_KILLERS
      - TOP_RATIO
      - TOP_PERFORMANCE
      - TRY_HARDERS
      - TOP_STAMINA
      - TOP_KILL_STREAK
      - I_NEVER_GIVE_UP
      - MOST_PATIENT
      - I_M_CLUMSY
      - I_NEED_GLASSES
      - I_LOVE_VOTING
      - WHAT_IS_A_BREAK
      - SURVIVORS
      - U_R_STILL_A_MAN


# The config values are cached by RCON
# Changes may take up to 10 minutes to take effect
REMOVE_EXPIRED_VIPS:
  # Set to true to automatically remove any expired VIPs
  enabled: true
  # The number of minutes between checking for expired VIPs
  interval: 60
  # Discord Webhook URL where audit logs should be sent. If not specified, the environment variable DISCORD_WEBHOOK_AUDIT_LOG
  # will be used, instead.
  discord_webhook_url: ''


# Any changes to these values require an RCON restart to take effect
#
# This allows you to subscribe any number of Discord webhooks and optional roles and/or users to mention
# which will be used to send the matching log lines to the Discord webhooks
# You must include the server number for each hook or it won't be processed
# This allows you to subscribe to different log events for different servers if you run more than one
#
# Review USERGUIDE.md for information on how to get webhooks and role/user IDs from Discord
#
# A more general log event type will trigger for all sub types, for instance the CHAT event will trigger
# for any kind of chat
# A more specific log event type will only trigger for that type, for instance Chat[Axis][Unit] would not
# trigger for Axis team chat, or any Allied chats
# If you subscribe to a general event type, such as CHAT you should not subscribe to anymore specific event
# or you'll receive duplicates
#
# This can get very spammy very quickly, especially if you mention users/roles, please plan accordingly
# and be aware of both CPU usage on your server and Discord rate limiting for webhooks, or you may run into
# issues processing your other hooks (such as checking the blacklist on player connect) in a timely fashion
#
# You can use a YAML validator (such as https://codebeautify.org/yaml-validator/) to validate your config.yml
# before starting RCON, but please be aware that sharing a Discord webhook allows anyone that has it to send
# messages to it
#
# For example:
# - URL: https://discord.com/api/...etc
#   MENTIONS:
#     - <@&1234567891234567891>
#     - <@987654321987654321>
#   SERVERS:
#   - 1
#   - 2
LOG_LINE_WEBHOOKS:
  ADMIN BANNED:
  ADMIN KICKED:
  CAMERA:
  CHAT:
  CHAT[Allies]:
  CHAT[Allies][Team]:
  CHAT[Allies][Unit]:
  CHAT[Axis]:
  CHAT[Axis][Team]:
  CHAT[Axis][Unit]:
  CONNECTED:
  DISCONNECTED:
  KILL:
  MATCH:
  MATCH START:
  MATCH ENDED:
  TEAM KILL:
  TEAMSWITCH:
  # Automatic kicks for team kills
  TK:
  TK AUTO:
  TK AUTO BANNED:
  TK AUTO KICKED:
  # Vote kicks
  VOTE:
  VOTE STARTED:
  VOTE COMPLETED:
