name: build-docker-images

on:
  push:
    tags:
      - "*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push backend
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            cericmathey/hll_rcon_tool:${{  github.ref_name }}
            ${{ contains(github.ref_name, 'rc') && '' || 'cericmathey/hll_rcon_tool:latest' }}
      - name: Build and push frontend
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile-frontend
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            cericmathey/hll_rcon_tool_frontend:${{  github.ref_name }}
            ${{ contains(github.ref_name, 'rc') && '' || 'cericmathey/hll_rcon_tool_frontend:latest' }}
      - name: Update repo description
        uses: peter-evans/dockerhub-description@v3
        if: ${{ ! contains(github.ref_name, 'rc') }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: cericmathey/hll_rcon_tool
      - name: Update repo description
        uses: peter-evans/dockerhub-description@v3
        if: ${{ ! contains(github.ref_name, 'rc') }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: cericmathey/hll_rcon_tool_frontend
